/* ============ NEW POST FORM ============ */

.body-form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.h2-form{
  text-align: center;
  font-size: 24px;  
}
.newpost-container{
  width: 300px;
}
.newpost-form{
  display: flex;
  flex-direction: column;
}
.newpost-label{
  margin-top: 10px;
}
.newpost-input{
  margin-top: 5px;
  padding: 5px;
  background-color: #f2f2f2;
}
.newpost-button{
  margin-top: 15px;
  padding: 8px; 
}

