body {
    font-family: 'Sixtyfour', static;
    background-image: url('./imagenes/fondo.gif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: slowPan 120s linear infinite;
    min-height: 100vh;
}

@keyframes slowPan {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}


.button {
    font-family: 'Sixtyfour', static;
    font-size: 10px;
    padding: 1.5em 2em;
}


.perfil{
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 30px;
}

#img-usuario{
  display: inline-block;
  flex-shrink: 0;  
  width: 200px;   
  height: 200px;
  margin-right: 20px;  
}

#boton-eliminar{
  background-color:#4e031b ;
}

#boton-editar{
  background-color:#4c0240;
}

#nombre-usuario{
  color: white;
}

.media-content{
  display: flex;
  align-items: center;
}

.posteo{
  font-family: 'Jersey 10', sans-serif;  
  font-size: 20px;
  margin-top: 50px ;
  margin: 30px ;
  background-color: #1c0227;
}
