body {
    background-image: url(./imagenes/fondo-perfil-editar.jpeg);
    border: none;  
    min-height: 100vh;
    animation: slowPan 120s linear infinite;

}

@keyframes slowPan {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.formulario{
    background-color: rgba(40, 4, 67, 0.602) ;
    max-width: 600px; 
    margin: auto;   
    padding: 55px;    
}

.formulario .input,
.formulario .textarea{
  font-family: 'Jersey 10', sans-serif;  
  font-size: 18px;
  background-color: rgba(65, 8, 109, 0.479); 
  color: white;
}


.formulario .input::placeholder, 
.formulario .textarea::placeholder{
  color: rgba(255, 255, 255, 0.716); 
}

.label {
  color:white;
  font-family: 'Sixtyfour', static;
  margin-top: 30px;
}