body {
    font-family: 'Poppins', sans-serif;
    background-image: url('./imagenes/fondo-perfil.jpeg');
    background-size: cover;
    animation: slowPan 120s linear infinite;
    min-height: 100vh;
}

@keyframes slowPan {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

header {
  background-color: #15041bc5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(186, 146, 255, 0.3);
  backdrop-filter: blur(6px);
}

#logo{
  max-height: none ;
  height: 70px ;    
  width: auto;
}

.nav-left, .nav-right {
  display: flex;
  gap: 1.5rem;
}

a {
  color: #e4e4e4;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

a:hover {
  color: #ffe8a3;
  text-shadow: 0 0 5px rgba(255,232,163,0.6);
}


.button {
  font-family: 'Cormorant Garamond', serif;
  font-size: 17px;
  padding: 1em 1.5em;
}


.perfil{
  color: white !important;
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 30px;
}

#img-usuario{
  display: inline-block;
  flex-shrink: 0;  
  width: 200px;   
  height: 200px;
  margin-right: 20px;  
}

#nombre-usuario strong{
  color: white;
  font-size: 30px;
}

#boton-eliminar{
  background-color: #310440e2 ;
}

#boton-editar{
  background-color: #42064e;
}

.media-content{
  color: white;
  display: flex;
  align-items: center;
}

.media-content h5{
  color: white;
  font-size: 20px;
}

.posteo{
  font-family: 'Cormorant Garamond', serif; 
  color:white;
  border: 5px solid #21032ccf;
  font-size: 20px;
  margin-top: 50px ;
  margin: 30px ;
  background-color: #260534d4;
}

#nombre{
  color:white;
}