* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at 20% 30%, #1a122b, #0a0814 80%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-index {
  display: flex;
  font-family: 'Cormorant Garamond', serif;
  font-size: 40px;
  color: #b892ff;
  text-shadow: 0 0 25px #b892ff;
}

#msg {
    margin-top: 10px;
    font-weight: bold;
}

/* FORM */
.form-container {
    border: none; 
    padding: 20px;
    width: 280px;
    text-align: center;
}

.form-input input {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 15px;
}
.form-container button {
    padding: 10px 10px;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid #aaa;
    width: 280px;
}

/*LINKS*/

.login-register-link {
  display: flex;
  gap: 15px;
  font-size: 14px;
  align-items: center;
  color: #fff4e6;
  padding-top: 10px;
  font-family: Arial, sans-serif;
}
.login-register-link a {
  color: #fff4e6;
  font-weight: bold;
}

/* TÍTULO DE GUÍA NOCTURNO */
.titulo-mascota {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 18px;
  font-family: 'Cormorant Garamond', serif;
  color: #d8c0ff;
  text-shadow: 0 0 8px rgba(200,150,255,0.6);
}


/* CONTENEDOR DE MASCOTAS */
.mascotas-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}


/* CADA MASCOTA */
.mascota-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.mascota-item img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  border-radius: 12px;
  transition: transform 0.25s, box-shadow 0.25s;
  border: 2px solid transparent;
}

/* HOVER */
.mascota-item:hover img {
  transform: scale(1.12);
  box-shadow: 0 0 12px #b892ff;
  border-color: #b892ff;
}

/* OCULTAR RADIO BUTTON REAL */
.pet-radio {
  position: absolute;
  opacity: 0;
}

/* CUANDO ESTÁ SELECCIONADO */
.pet-radio:checked + img {
  transform: scale(1.17);
  border-color: #e6c7ff;
  box-shadow: 0 0 15px #d9b4ff;
}

/* Que el botón esté más separado y centrado */
#submit {
  margin-top: 10px;
}
