/* ===== CONTENEDOR GENERAL ===== */
.newpost-container {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 18px;                 /* <- separa elementos */
  padding: 40px 25px;
  font-family: 'Poppins', sans-serif;
  border-radius: 16px;
  background-color: #1a122b;
  box-shadow: 0 6px 16px rgba(0,0,0,0.25);
  color: white;
}




/* ===== TITULO ===== */
.new-dream {
  text-align: center;
  padding: 10px;
  font-size: 2.2rem;
  font-family: 'Cormorant Garamond', serif;
  margin-bottom: 20px;
  color: #c4a9ff;
  text-shadow: 0 0 10px rgba(196,169,255,0.4);
}

/* ===== LABELS ===== */
.newpost-container label {
  font-size: 20px;
  margin-bottom: 4px;
  display: block;
  font-family: 'Cormorant Garamond', serif;
  text-shadow: 0 0 10px rgba(196,169,255,0.4);

}

/* ===== INPUTS Y TEXTAREA ===== */
.input-estilo {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  resize: none;
  background-color: #1a122b;
  color: #f4f4f4;
  border: 2px solid #2c1e44;
  transition: border .3s, box-shadow .3s;
}

.input-estilo:focus {
  outline: none;
  border-color: #4a2e8c;
  box-shadow: 0 0 8px rgba(186,146,255,0.3);
}

.input-estilo::placeholder {
  color: #b2a1d6;
}

/* ===== BOTÓN ===== */
.atrapasueños-btn {
  padding: 12px;
  border-radius: 12px;
  background-color: #9c27b0;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
  margin-top: 14px;
  transition: background-color .3s;
}

.atrapasueños-btn:hover {
  background-color: #6a1b9a;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 600px) {
  .newpost-container {
    padding: 30px 18px;
  }
  .newpost-title {
    font-size: 1.8rem;
  }
}

