
.newpost-container{
  /*width: 300px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;

}
.newpost-form{
  display: flex;
  flex-direction: column;
  width: 300px;
}


/* TEXTAREA */
.post-textarea {
  height: 100px;
  padding: 5px;
  resize: none;
  font-family: Arial, sans-serif;
  font-size: 14px; 
  width: 300px;
}


/* BUTTONS */
.newpost-button{
  margin-top: 15px;
  width: 50%;
  padding: 5px;
}
.button-container {
  display: flex;
  gap: 10px;
  text-align: center;
}


/* TAGS */

.tags-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.tags-input{
  margin-top: 5px;
  padding: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
#tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.tag {
  background-color: #4c0240; 
  color: white;            
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-family: Arial, sans-serif;
}
