body {
    font-family: 'Poppins', sans-serif;
    background-image: url('../img/fondo-perfil.jpeg');
    background-size: cover;
    animation: slowPan 120s linear infinite;
    min-height: 100vh;
}

@keyframes slowPan {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.button {
  font-family: 'Cormorant Garamond', serif;
  font-size: 17px;
  padding: 1em 1.5em;
}


.perfil{
  color: white !important;
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 30px;
}

#img-usuario{
  display: inline-block;
  flex-shrink: 0;  
  width: 200px;   
  height: 200px;
  margin-right: 20px;  
}

#nombre-usuario strong{
  color: white;
  font-size: 30px;
}

#boton-eliminar{
  background-color: #310440e2 ;
}

#boton-editar{
  background-color: #42064e;
}

.media-content{
  color: white;
  display: flex;
  align-items: center;
}

.media-content h5{
  color: white;
  font-size: 20px;
}
