body {
    border: none;  
    font-family: 'Cormorant Garamond', serif; 
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/fondo-perfil-editar.jpeg);
    animation: slowPan 120s linear infinite;
    z-index: -2;
}


body::after { 
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #15041b99; 
    backdrop-filter: blur(1px); 
    pointer-events: none; /* Para que no bloquee clics */
    z-index: -1;
}

@keyframes slowPan {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.formulario{
    max-width: 600px; 
    margin: auto;   
    padding: 55px;    
}

.formulario .input,
.formulario .textarea{ 
  font-size: 18px;
  background-color: rgba(65, 8, 109, 0.479); 
  color: white;
}


.formulario .input::placeholder, 
.formulario .textarea::placeholder{
  color: rgba(255, 255, 255, 0.716); 
}

.label {
  color:white;
  font-size: 22px;
  margin-top: 30px;
}

#editar-btn{
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  background-color:  #3d0057;  
}

#cancelar-btn{
  font-size: 20px;
  color:#3d0057;
}

.modal-card {
  border: 4px solid rgba(74, 52, 114, 0.8);  
  border-radius: 0;
  box-shadow: 6px 6px 0px rgba(45, 27, 78, 0.5);
  background: rgba(45, 27, 78, 0.95);
}

.modal-card-head {
  background: rgba(106, 79, 150, 0.9);
  border-bottom: 3px solid rgba(45, 27, 78, 0.6);
  border-radius: 0;
  padding: 12px 20px;
}

.modal-card-title {
  color: rgba(255, 212, 229, 1);  
  font-size: 28px;
  text-shadow: 2px 2px 0px rgba(164, 81, 222, 0.503);
}

.modal-card-body {
  background: rgba(252, 229, 241, 0.95);  
  color: rgba(59, 3, 61, 0.95);
  font-size: 23px;
  padding: 40px;
  text-align: center;
  border-left: 3px solid rgba(106, 79, 150, 0.4);
  border-right: 3px solid rgba(106, 79, 150, 0.4);
}

.modal-card-foot {
  background: rgba(106, 79, 150, 0.8);  
  border-top: 3px solid rgba(74, 52, 114, 0.6);
  border-radius: 0;
  justify-content: center;
  padding: 20px;
}

.modal-card-foot .button {
  border: 3px solid rgba(45, 27, 78, 0.7);
  border-radius: 0;
  box-shadow: 4px 4px 0px rgba(26, 16, 70, 0.4);
  background: rgba(252, 229, 241, 0.95);
  color: rgba(45, 27, 78, 1);
  font-size: 12px;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 0.2s;
}


.modal-card-foot .button:hover {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px rgba(26, 16, 70, 0.3);
  background: rgba(45, 27, 78, 1);
  color: rgba(252, 229, 241, 0.95);
}

.modal-background {
  background-color: rgba(26, 16, 70, 0.7); 
}