.ranking-h2 {
  font-family: 'Cormorant Garamond', serif;
  color: white;
  text-align: center;
  padding: 50px;
  font-size: 22px;
  text-shadow: 0 0 25px #fff;
}

.ranking-top {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
